<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <h1>LOGIN PLEASE</h1>
    <form action="/" method="POST">
    <input id="id" name="id" type="text" placeholder="ID">
    <br />
    <input id="pwd" name="pwd" type="password" placeholder="Password">
    <button type="submit">LOGIN</button>
    </form>
</body>
</html>